body {
    background-color: black; 
    color: white;
    width: 500px;
    margin: 0 auto;
    padding: 5%;
    border: 5px solid white;
}
html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: teal;
}
img{
    display: block;
    margin: auto;
    width: 500px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px red;
}
  
p, li {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}